.*{
  margin: 0;
  padding: 0;
}
.background {
        background: url(images/2.jpg) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
}
.logo
{
  background: #000;
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: center;
}
.graficlogo
{
  padding: 5px;
  max-width: 100%;
  box-sizing: border-box;
}
.image
{
  padding-top: 16%;
  padding-left: 25%;
}
.text
{
  padding: 30px;
  font-weight: bolder;
}
.c
{
  display: flex;
  justify-content: center; 
}
footer
{
  width: 100%;
  height: 100%;
  background: #000;
}
.row
{
  max-width:100%;
  max-height:100%;
}